.search {
    width: 70em;
    // background-color: orangered;
    @media only screen and (max-width: 1200px) {
        width: 50em;
    }

    @media only screen and (max-width: 900px) {
        width: 40em;
    }

    input[type=text] {
        color: #171717;
        font-weight: bold;
        letter-spacing: 1px;
        // border-bottom: 2px solid black;
      }

    &__field {
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        width: 100%;
        padding: 0 0 1.2rem;

        @media only screen and (max-width: 900px) {
            // font-size: 2rem;
        }

        @media only screen and (max-width: 450px) {
           font-size: 2.2rem;
        }


        &:focus {
            outline: none;
            width: 100%; // when the input in focus, the width will increase to 100% of its parent element
        }

        

        &::-webkit-input-placeholder {
            font-weight: 500;
            font-size: 3rem;
            letter-spacing: 1px;
            color: #dad8d7;

            @media only screen and (max-width: 450px) {
                font-size: 2.2rem;
                text-align: center;
             }
        }
    }
    

}

.results__card {
    // position: relative;
    
    &:hover .results__card--data { 
        visibility: visible;
        opacity: 1;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    }

    .results__card--link,
    .results__card--link {
        text-decoration: none;
        color: var(--color-dark);

    }

    .results__card--poster {
        width: 100%;
        display: block;
        margin-bottom: .4rem;
        object-fit: cover;
        // box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
        // border-radius: 0.6rem;
        
        &:hover {
            opacity: 0.3;
            transition: all 0.5s;
            background: black;
            -webkit-transition: all 0.5s;
        }
    }

    .results__card--data {
        visibility: hidden;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        width: 100%;
        padding: 0.7rem 0.7rem;
        text-align: center;

        .results__title {
            font-size: 1.6rem;
            font-weight: 500;
            color: #4b4f52;
            
        }
        .results__year {
            font-size: 1.6rem;
            color: #4b4f52;
            opacity: .7;
        }

        
    }
}

.loader {
    margin: 24vh auto;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;

    svg {
      height: 2.2rem;
      width: 2.2rem;
      fill: #171717;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear; 
    }

    .loading {
        color: #171717;
        font-size: 2.4rem;
        font-weight: 400;
        margin-left: .6rem;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0); 
        }
        100% {
            transform: rotate(360deg); 
        } 
    }
}

.movie-info {
    margin-bottom: 8px;
    width: 42rem;
    
    @media only screen and (max-width: 450px) {
        // text-align: center;
        width: 30rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 0.4rem;
        color: #171717;
        letter-spacing: 1px;

        @media only screen and (max-width: 450px) {
            font-size: 1.2rem;
        }
    
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: 400;
        color: #4b4f52;

        @media only screen and (max-width: 450px) {
            font-size: 1.2rem;
        }  
    }

    .movie-plot {
        border-bottom: 1px solid #171717;
        padding-bottom: 2rem;
    }

    &__title {
        font-size: 3rem;
        color: #171717;
        border-bottom: 1px solid #171717;
        padding-bottom: 1.5rem;

        @media only screen and (max-width: 450px) {
            font-size: 2.4rem;
        }
    }

}

.add {
    display: flex;
    width: 24rem;
    cursor: pointer; // changes the shape of the mouse
    justify-content: center;
    align-items: center;
    // height: 4.8rem;
    // width: 24rem;
    letter-spacing: 1px;
    margin-left: .8rem;
    border: 1px solid #171717;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: lighter;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-left: .8rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
    color: #171717;
    font-weight: bold;
    transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    
    // border: 1px solid #c1c1b5;
    // background-color: orangered;

    .movie__favourite {
       
        &--love {
            height: 2.25rem;
            width: 2.25rem;
            fill: #171717;
        }       
    }

    .add-to-watchlist {
        color: #171717;
        margin-left: 0.8rem;
        // text-transform: uppercase;
    }

}


.favourites-container__likes {
    width: 30rem;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    height: 10rem;
    background: #fff;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;


    img {
        height: 100%;
        width: 6rem;   
        object-fit: cover;
        box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
    }

    .favourites-container__infos {
        padding: .8rem;

        .favorites-container__infos-title {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 0;
        }

        .favorites-container__infos-text {
            font-size: 1.2rem;
            opacity: .7;
            margin-bottom: 0;
            // margin-top: 8px;
        }

    }
}

.btn-inline {
    height: 4.8rem;
    cursor: pointer; // changes the shape of the mouse
    // line-height: 3.4rem;
    // background-color: #c1c1b5;;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: 0 2rem;
    border: 1px solid #171717;
    color: #171717;
    font-weight: 400;
    border-radius: 0 2px 2px 0;
    transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;

    &:hover {
        // background-color: #c1c1b5;
        color: #dad8d7;
    }

    &:focus {
        outline: none;
        animation: pulstate 1s infinite; // animation name determined from the keyframe animation below
    }

    .btn__page-number {
        display: none;
    }
}

.nav-item {
    display: flex;
    align-content: center;
}

.btn-home {
    // text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    padding: 4px 12px;
    border: none;
    border-right: solid 2px #171717;;
    color: #171717;
    font-weight: bold;
    transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;

    @media only screen and (max-width: 450px) {
        font-size: 2.2rem;
        text-align: center;
     }

    &:hover {
        // border-bottom: 2px solid #8d8b85;
        color: #dad8d7;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        animation: pulstate 1s infinite; // animation name determined from the keyframe animation below
    }
}
// watchllist hover
.watchlist {

    position: relative;

    .btn-watchlist {
        // text-transform: uppercase;
        letter-spacing: 1.4px;
        text-align: center;
        vertical-align: middle;
        padding: 4px 12px;
        font-size: 3rem;
        color: #171717;
        border: none;
        font-weight: bold;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;

        @media only screen and (max-width: 450px) {
            font-size: 2.2rem;
            text-align: center;
         }
         

        &:hover {
            color: #dad8d7;
            cursor: pointer;
        }
    
        &:focus {
            outline: none;
            animation: pulstate 1s infinite; // animation name determined from the keyframe animation below
        }

    }

    &:hover .favourites-container__likes {
        visibility: visible;
        opacity: 1;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    }

    .favorites-container,
    .favourites-container__likes {
        visibility: hidden;
    }
}

.back {
    margin-top: 1.2rem;
    // background-color: orangered;    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    
    // width: 10rem;


    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: #c1c1b5;
    }

    .btn-back {
        color: #171717;
        border: 1px solid #171717;
        padding: 8px 24px;
        border-radius: 4px;
        font-weight: lighter;
        opacity: 0.8;
        letter-spacing: 1px;
        margin-left: .8rem;
        text-align: center;
        vertical-align: middle;
        font-size: 1.6rem;
        color: #171717;
        font-weight: bold;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
        
        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            animation: pulstate 1s infinite; // animation name determined from the keyframe animation below
        }
    }
    
}