.search {
    width: 45rem;
    // background-color: orangered;
    &__field {
        font-size: 2.1rem;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #c1c1b5;
        width: 100%;
        padding: 0 0 .8rem;

        &:focus {
            outline: none;
            width: 100%; // when the input in focus, the width will increase to 100% of its parent element
        }

        &::-webkit-input-placeholder {
            font-weight: 400;
            letter-spacing: 1px;
            color: #c1c1b5;
        }
    }
    

}

.results__card {
    // position: relative;
    
    &:hover .results__card--data { 
        visibility: visible;
        opacity: 1;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    }

    .results__card--link,
    .results__card--link {
        text-decoration: none;
        color: var(--color-dark);

    }

    .results__card--poster {
        width: 100%;
        display: block;
        margin-bottom: .4rem;
        // box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
        // border-radius: 0.6rem;
    }

    .results__card--data {
        visibility: hidden;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        width: 100%;
        padding: 0.7rem 0.7rem;
        text-align: center;

        .results__title {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--color-dark);
            
        }
        .results__year {
            font-size: 1.4rem;
            color: var(--color-light-2);
        }

        
    }
}

.loader {
    margin: 24vh auto;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;

    svg {
      height: 2.2rem;
      width: 2.2rem;
      fill: #c1c1b5;
      transform-origin: 44% 50%;
      animation: rotate 1.5s infinite linear; 
    }

    .loading {
        color: #c1c1b5;
        font-size: 1.6rem;
        font-weight: 400;
        margin-left: .6rem;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0); 
        }
        100% {
            transform: rotate(360deg); 
        } 
    }
}

.movie-info {
    margin-bottom: 2rem;
    width: 42rem;

    h2 {
        
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 0.4rem;
        color: #c1c1b5;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: 400;
        color: #263239;
        
    }

    &__title {
        font-size: 3.2rem;
        margin-bottom: 3.2rem;
        color: #263239;
    }

}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 24rem;
    border: 2px solid #c1c1b5;
    // background-color: orangered;

    .movie__favourite {
        // border: none;
        // border: 1px solid #c1c1b5;
    
    
        &--love {
            height: 2.25rem;
            width: 2.25rem;
            outline: orange;
            fill: #c1c1b5;
        }       
    }

    .add-to-watchlist {
        font-size: 1.5rem;
        color:  #c1c1b5;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: .6rem;
    }

}


.favourites-container__likes {
    width: 30rem;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    height: 10rem;
    background: #fff;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;


    img {
        height: 100%;
        width: 6rem;   
        object-fit: cover;
        box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
    }

    .favourites-container__infos {
        padding: .8rem;

        .favorites-container__infos-title {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 0;
        }

        .favorites-container__infos-text {
            font-size: 1.2rem;
            opacity: .7;
            margin-bottom: 0;
            // margin-top: 8px;
        }

    }
}

.btn-inline,
.btn-watchlist {
    height: 3.2rem;
    // line-height: 3.4rem;
    // background-color: #c1c1b5;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    font-size: 1.4rem;
    padding: 0 1.6rem;
    border: 1px solid #c1c1b5;
    color: #c1c1b5;
    margin: 0 2px 0 2px;
    font-weight: 500;
    border-radius: 0 2px 2px 0;
    transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;

    &:hover {
        background-color: #c1c1b5;
        color: #fff;
    }

    &:focus {
        outline: none;
        animation: pulstate 1s infinite; // animation name determined from the keyframe animation below
    }

    .btn__page-number {
        display: none;
    }
}

// watchllist hover
.watchlist {

    position: relative;
    // padding: 2rem 0;

    .btn-watchlist {
        text-transform: uppercase;
        letter-spacing: 1.2px;
        border-radius: 0 2px 2px 0;
    }

    &:hover .favourites-container__likes {
        visibility: visible;
        opacity: 1;
        transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    }

    .favorites-container,
    .favourites-container__likes {
        visibility: hidden;
    }
}